<div class="widget-container">
    <div class="widget green">
        <div class="icon">
            <fa-icon [icon]="faLocation"></fa-icon>
        </div>
        <div class="value">
            <div class="top">98</div>
            <div class="bottom"> Locations</div>
        </div>
    </div>
    <div class="widget yellow">
        <div class="icon">
            <fa-icon [icon]="faUser"></fa-icon>
        </div>
        <div class="value">
            <div class="top">7,843</div>
            <div class="bottom"> Users</div>
        </div>
    </div>
    <div class="widget red">
        <div class="icon">
            <fa-icon [icon]="faMoneyBillTransfer"></fa-icon>
        </div>
        <div class="value">
            <div class="top">48,990</div>
            <div class="bottom"> Transactions</div>
        </div>
    </div>
    <div class="widget blue">
        <div class="icon">
            <fa-icon [icon]="faMoneyBills"></fa-icon>
        </div>
        <div class="value">
            <div class="top">$7,598,362</div>
            <div class="bottom"> Items Sold</div>
        </div>
    </div>
</div>